body {
  background: rgb(211, 210, 210);
}
.Tabs {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  background: rgb(233, 233, 233);
  display: flex;
  width: 300px;
  padding: 10px;
  padding-bottom: 0;
  margin: auto;
  border-radius: 20px;
}
.Tab {
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  width: 20px;
  padding: 10px;
  writing-mode: tb-rl;
  border-radius: 10px;
  margin-bottom: 10px;
}
.Tab:hover {
  transition: 0.5s;
  box-shadow: 0 30px 10px rgba(0, 0, 0, 0.5);
  background: rgb(172, 170, 170);
  cursor: pointer;
  color: white;
}
.Content {
  padding: 10px;
}
.Tec {
  transition: 0.5s;
  box-shadow: 0 30px 10px rgba(0, 0, 0, 0.5);
  background: rgb(172, 170, 170);
  cursor: pointer;
  color: white;
}
